<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.ParticipantMapper">


    <select id="queryBillParticipant" resultType="com.example.entity.Participant">
        select * from bill_participant where bill_id = #{billId}
    </select>
</mapper>
