<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.UserMapper">

    <select id="getByUsername" resultType="com.example.entity.User">
        select * from user where username = #{username}
    </select>
    <select id="queryByUsername" resultType="com.example.entity.User">
        select
            user.username,
            user.phone
        from user
        where username = #{username}
    </select>


    <insert id="insert"  useGeneratedKeys="true" keyProperty="id">
        insert into user (username,phone,password,created_time) values (#{username},#{phone},#{password},#{createdTime})
    </insert>

    <select id="queryByPhone" resultType="com.example.entity.User">
        select
            user.username,
            user.phone
        from user
        where phone = #{phone}
    </select>
    <select id="queryCreateTime" resultType="java.time.LocalDateTime">
        select user.created_time from user where id = #{id};
    </select>
    <select id="getUserInfo" resultType="com.example.vo.UserLoginVO">
        select id,username from user where id = #{userId}
    </select>
</mapper>
