<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.UserCategoryMapper">
    <select id="queryCategoryType" resultType="com.example.entity.Category">
        select id, user_id, name, type from category where type = #{type}
    </select>

    <insert id="insertCategory">
        insert into category ( user_id, name, type, create_time ) VALUES (#{userId}, #{name}, #{type},#{createTime})
    </insert>
</mapper>
