<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.UserBillMapper">

    <insert id="insertBill">
        insert into user_bill (user_id, category_id, amount, type, create_time, remark) values (#{userId}, #{categoryId}, #{amount}, #{type}, #{createTime}, #{remark})
    </insert>

    <select id="queryPageDate" resultType="com.example.entity.UserBill">
        select
        ub.*,
        c.name as categoryName
        from user_bill ub
        left join category c on ub.category_id = c.id
        where ub.user_id = #{userId}
        <if test="year != null">
            and year(ub.create_time) = #{year}
        </if>
        <if test="month != null">
            and month(ub.create_time) = #{month}
        </if>
        <if test="day != null">
            and day(ub.create_time) = #{day}
        </if>
        order by ub.create_time desc
    </select>
    <select id="selectBillDetail" resultType="com.example.entity.UserBill">
        select user_bill.*,category.name as categoryName from user_bill  left join category on user_bill.category_id = category.id
        where user_bill.user_id = #{userId} and user_bill.id = #{billId}
    </select>
    <select id="getSumAll" resultType="com.example.entity.SumStatistics">
        select
            sum(case when type = 1 then user_bill.amount else 0 end) as income,
            sum(case when type = 2 then user_bill.amount else 0 end) as expense,
            sum(case when type = 3 then user_bill.amount else 0 end) as transfer
        from user_bill
        where year(create_time) = #{year}
            and month(create_time) = #{month}
            and user_id = #{userId}
            <if test="day != null">
                and day(create_time) = #{day}
            </if>
    </select>
    <select id="queryDailyCosts" resultType="com.example.entity.DailyCost">
        SELECT
            DATE(create_time) AS date,
            IFNULL(SUM(CASE WHEN type = 1 THEN amount ELSE 0 END), 0) AS income,
            IFNULL(SUM(CASE WHEN type = 2 THEN amount ELSE 0 END), 0) AS cost
        FROM
            user_bill
        WHERE
            user_id = #{id}
        GROUP BY
            DATE(create_time)
        ORDER BY
            DATE(create_time) ASC;
    </select>
    <select id="categoryStatistics" resultType="com.example.vo.CategoryStatisticsVO">
        SELECT
        c.name AS name,
        SUM(b.amount) AS value,
        COUNT(*) AS bill_count
        FROM
        user_bill b
        LEFT JOIN
        category c ON b.category_id = c.id
        <where>
            b.user_id = #{id}
            <if test="type != null and type != ''">
                AND b.type = #{type}
            </if>
            <if test="timeType != null and timeValue != null and timeValue != ''">
                <choose>
                    <when test="timeType == 'year'">
                        AND DATE_FORMAT(b.create_time, '%Y') = #{timeValue}
                    </when>
                    <when test="timeType == 'month'">
                        AND DATE_FORMAT(b.create_time, '%Y-%m') = #{timeValue}
                    </when>
                    <when test="timeType == 'day'  or timeType == 'date' ">
                        AND DATE_FORMAT(b.create_time, '%Y-%m-%d') = #{timeValue}
                    </when>
                </choose>
            </if>
        </where>
        GROUP BY
        c.id, c.name
        ORDER BY
        value DESC
    </select>

    <delete id="deleteBill">
        delete from user_bill where id in <foreach collection="billIds" item="id" open="(" separator="," close=")">
        #{id}
    </foreach> and user_id = #{userId}
    </delete>

    <delete id="deleteBillByCategoryIds">
        delete from user_bill
               where category_id in
                     <foreach collection="categoryIds" open="(" separator="," close=")" item="categoryId">
                     #{categoryId}
                    </foreach>
    </delete>

    <update id="updateCategory">
        update user_bill set category_id = #{categoryId} where id in <foreach collection="billIds" item="billId" open="(" separator="," close=")">
        #{billId}
    </foreach>
    </update>

    <select id="getBillIdsByCategoryIds" resultType="java.lang.Long">
        select id from user_bill where category_id in <foreach collection="categoryIds" item="category" open="(" separator="," close=")">
        #{category}
    </foreach>
    </select>
    <select id="getBillByCategoryIds" resultType="com.example.dto.UserBillDTO">
        select * from user_bill
        where
        user_id = #{userId}
        <if test="categoryIds != null and categoryIds.size() > 0">
            and category_id in
            <foreach collection="categoryIds" item="category" open="(" separator="," close=")">
                #{category}
            </foreach>
        </if>
    </select>

    <update id="updateBill">
        UPDATE user_bill
        <set>
            <if test="categoryId != null and categoryId != ''">
                category_id = #{categoryId},
            </if>
            <if test="amount != null and amount != '' ">
                amount = #{amount},
            </if>
            <if test="type != null and type != ''">
                type = #{type},
            </if>
            <if test="remark != null and remark != ''">
                remark = #{remark},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
        </set>
        WHERE id = #{id} and user_id = #{userId}
    </update>

    <select id="getSumByDate" resultType="com.example.vo.BillStatisticsVO">
        SELECT
        <choose>
            <when test="timeType == 'year'">DATE_FORMAT(b.create_time, '%Y-%m')</when>
            <when test="timeType == 'month'">DATE_FORMAT(b.create_time, '%Y-%m-%d')</when>
            <when test="timeType == 'week'">DATE_FORMAT(b.create_time, '%Y-%u-%w')</when>
            <otherwise>DATE_FORMAT(b.create_time, '%Y-%m')</otherwise>
        </choose>
        AS timeValue,
        SUM(CASE WHEN b.type = '1' THEN b.amount ELSE 0 END)
        - SUM(CASE WHEN b.type = '2' THEN b.amount ELSE 0 END)  AS total
        FROM user_bill b
        WHERE
        b.user_id = #{userId}
        <if test="type != null">
            AND b.type = #{type}
        </if>
        <if test="timeType != null and timeValue != null and timeValue != ''">
            <choose>
                <when test="timeType == 'year'">
                    AND DATE_FORMAT(b.create_time, '%Y') = #{timeValue}
                </when>
                <when test="timeType == 'month'">
                    AND DATE_FORMAT(b.create_time, '%Y-%m') = #{timeValue}
                </when>
                <when test="timeType == 'week'">
                    AND DATE_FORMAT(b.create_time, '%Y-%u') = #{timeValue}
                </when>
            </choose>
        </if>
        GROUP BY timeValue
        ORDER BY timeValue ASC
    </select>


    <select id="queryListChart" resultType="com.example.entity.UserBill">
        select b.*
        from user_bill b
        left join keep_account.category c on b.category_id = c.id
        where user_id = #{userId}
        <if test="dto.type != null">
            AND b.type = #{dto.type}
        </if>
        <if test="dto.timeType != null and dto.timeValue != null and dto.timeValue != ''">
            <choose>
                <when test="dto.timeType == 'year'">
                    AND DATE_FORMAT(b.create_time, '%Y') = #{dto.timeValue}
                </when>
                <when test="dto.timeType == 'month'">
                    AND DATE_FORMAT(b.create_time, '%Y-%m') = #{dto.timeValue}
                </when>
                <when test="dto.timeType == 'week'">
                    AND DATE_FORMAT(b.create_time, '%Y-%u') = #{dto.timeValue}
                </when>
            </choose>
        </if>
        ORDER BY b.create_time ASC
    </select>
</mapper>
