<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.UserBillMapper">

    <insert id="insertBill">
        insert into user_bill (user_id, category_id, amount, type, create_time, remark) values (#{userId}, #{categoryId}, #{amount}, #{type}, #{createTime}, #{remark})
    </insert>
    <select id="queryPageDate" resultType="com.example.entity.UserBill">
        select
        ub.*,
        c.name as categoryName
        from user_bill ub
        left join category c on ub.category_id = c.id
        where ub.user_id = #{userId}
        <if test="year != null">
            and year(ub.create_time) = #{year}
        </if>
        <if test="month != null">
            and month(ub.create_time) = #{month}
        </if>
        order by ub.create_time desc
    </select>
    <select id="selectBillDetail" resultType="com.example.entity.UserBill">
        select user_bill.*,category.name as categoryName from user_bill  left join category on user_bill.category_id = category.id
        where user_bill.user_id = #{userId} and user_bill.id = #{billId}
    </select>
    <select id="getSumAll" resultType="com.example.entity.SumStatistics">
        select
            sum(case when type = 1 then user_bill.amount else 0 end) as income,
            sum(case when type = 2 then user_bill.amount else 0 end) as expense,
            sum(case when type = 3 then user_bill.amount else 0 end) as transfer
        from user_bill
        where year(create_time) = #{year}
            and month(create_time) = #{month}
            and user_id = #{userId}
    </select>
    <select id="queryDailyCosts" resultType="com.example.entity.DailyCost">
        SELECT
            DATE(create_time) AS date,
            IFNULL(SUM(CASE WHEN type = 1 THEN amount ELSE 0 END), 0) AS income,
            IFNULL(SUM(CASE WHEN type = 2 THEN amount ELSE 0 END), 0) AS cost
        FROM
            user_bill
        WHERE
            user_id = #{id}
        GROUP BY
            DATE(create_time)
        ORDER BY
            DATE(create_time) ASC;
    </select>
</mapper>
